% arch-tag: CED792F0-A074-11D8-95E9-000393CFE6B8
%

[{kernel, [
	% Log to a file
	{error_logger, {file, "environ.log"}},
	{distributed, [{environ, [temp@rubik, {temp@foo, temp@dustinti}]}]},
	% {sync_nodes_mandatory, [temp@rubik, temp@dustinti]},
	{sync_nodes_optional, [temp@rubik]},
	{sync_nodes_timeout, 5000}
	]
}].
