[{kernel, [
	% Log to a file
	{error_logger, {file, "environ.log"}},
	% environ is a distributed app, foo may pick it up
	{distributed, 	[
						{env_alert, [temp@purple, {temp@army, 'temp@dhcp-111'}]}
					]},
	{sync_nodes_optional, [temp@army, 'temp@dhcp-111']},
	{sync_nodes_timeout, 5000}
	]
}].
