% arch-tag: B86A555A-A074-11D8-83D1-000393CFE6B8
%

[{kernel, [
	% Log to a file
	{error_logger, {file, "environ.log"}},
	% environ is a distributed app, foo may pick it up
	{distributed, 	[
						{environ, [temp@rubik, {temp@foo, temp@dustinti}]}
					]},
	{sync_nodes_optional, [temp@foo, temp@dustinti]},
	{sync_nodes_timeout, 5000}
	]
}].
